/* Search results */

#search .result {
	line-height: normal;
	padding-bottom: 1.9em;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 2em;
}

#search .result p {
	font-size: 13px;
	line-height: 1.5;
	margin-bottom: 0.25em;
}

#search .result .title {
	margin-bottom: 0.5em;
}

#search .result .title a {
	font-size: 15px;
	font-weight: bold;
}

#search .result .title span.type {
	display: inline-block;
	margin-left: 1em;
	font-size: 85%;
	text-transform: uppercase;
}

#search .result .url {
	opacity: 0.7;
}
