/* =Gallery Monklet
---------------------------------------------------------------------
*/

#content {

	.galleryMonklet {
		margin:25px auto;
		position: relative;
		left: 0;
	}

	.galleryMonklet,.galleryMonklet ul.gM-photos {
		width:100%;
		margin-left:auto;
		margin-right:auto;
		padding:0;
		float:none;
		clear:both;
		list-style:none;
	}

	.galleryMonklet ul {
		margin-bottom: 0;
	}

	.galleryMonklet li.gM-photo {
		float:left;
		list-style:none;
		max-width:50%;/* five images per row */
		padding:0;
		margin:0 0 5%;
	}

	.galleryMonklet li.gM-photo a {
		display:block;
		max-width:85%;
		margin:auto;
		height:auto;
		padding:2px;
		border:1px solid #c5c5c5;
	}

	.galleryMonklet li.gM-photo a:hover {
		border:1px solid #999;
	}

	.galleryMonklet li.gM-photo a img {
		display:block;
		max-width:100%;
		height:auto;
		margin:0;
		padding:0;
		border:0;
	}

	@media (min-width: 37.5em) {
		.galleryMonklet {
			left: -5px;
		}
		.galleryMonklet li.gM-photo {
			max-width:20%;
		}
		.galleryMonklet li.gM-photo {
			margin:0 0 2%;
		}
	}

}