/* =Gallery Monklet
---------------------------------------------------------------------
*/
#content .galleryMonklet {
	margin:30px auto;
}

#content .galleryMonklet,#content .galleryMonklet ul.gM-photos {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	float:none;
	clear:both;
	list-style:none;
}

#content .galleryMonklet li.gM-photo {
	float:left;
	list-style:none;
	max-width:20%;/* five images per row */
	padding:0;
	margin:0 0 2%;
}

#content .galleryMonklet li.gM-photo a {
	display:block;
	max-width:85%;
	margin:auto;
	height:auto;
	padding:2px;
	border:1px solid #c5c5c5;
}

#content .galleryMonklet li.gM-photo a:hover {
	border:1px solid #999;
}

#content .galleryMonklet li.gM-photo a img {
	display:block;
	max-width:100%;
	height:auto;
	margin:0;
	padding:0;
	border:0;
}