* {
	margin:0;
	padding:0;
}

body {
	font-family:"Open Sans",Arial,sans-serif;
	padding:2em;
	line-height:normal;
	color:#333;
}

a {
	color: #1293aa;
}

h1 {
	margin-bottom:1em;
}

h1 em {
  font-size: 96%;
}

h2 {
	margin-top:1.2em;
	margin-bottom:.5em;
}

p {
	margin-bottom:.9em;
}
